/* cyrillic-ext */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-cyrillic-ext.woff2) format("woff2");
	unicode-range:
		U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-cyrillic.woff2) format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-greek.woff2) format("woff2");
	unicode-range:
		U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-vietnamese.woff2) format("woff2");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-latin-ext.woff2) format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inter";
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-italic-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-cyrillic-ext.woff2) format("woff2");
	unicode-range:
		U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-cyrillic.woff2) format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-greek.woff2) format("woff2");
	unicode-range:
		U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-vietnamese.woff2) format("woff2");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-latin-ext.woff2) format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/inter/inter-normal-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Besley";
	font-style: italic;
	font-weight: 400 900;
	font-display: swap;
	src: url(/fonts/besley/besley-italic-latin-ext.woff2) format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Besley";
	font-style: italic;
	font-weight: 400 900;
	font-display: swap;
	src: url(/fonts/besley/besley-italic-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "Besley";
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	src: url(/fonts/besley/besley-normal-latin-ext.woff2) format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Besley";
	font-style: normal;
	font-weight: 400 900;
	font-display: swap;
	src: url(/fonts/besley/besley-normal-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-cyrillic-ext.woff2) format("woff2");
	unicode-range:
		U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-cyrillic.woff2) format("woff2");
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-greek-ext.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-greek.woff2) format("woff2");
	unicode-range:
		U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* symbols2 */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-symbols2.woff2) format("woff2");
	unicode-range: U+2000-2001, U+2004-2008, U+200A, U+23B8-23BD, U+2500-259F;
}
/* latin-ext */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-latin-ext.woff2) format("woff2");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 300 700;
	font-display: swap;
	src: url(/fonts/firacode/firacode-latin.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* OpenDyslexic - Dyslexia-friendly font */
@font-face {
	font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/opendyslexic/OpenDyslexic-Regular.woff) format("woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/opendyslexic/OpenDyslexic-Bold.woff) format("woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/fonts/opendyslexic/OpenDyslexic-Italic.woff) format("woff");
}

@font-face {
	font-family: "OpenDyslexic";
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/fonts/opendyslexic/OpenDyslexic-BoldItalic.woff) format("woff");
}
